{% extends "carti/layout.html" %}



{% block body %}
    

    <h2>Cărți existente în bookstorePS04 </h2>
    <ul class="fa-ul">
        {% for carte in cărți %}
            <li > <i class="fa-li fa fa-book" style="color:rgba(40, 160, 64, 0.8)"></i>
                Carte {{ carte.id }}: "<i>{{carte.titlu}}</i>" scrisă de {{carte.autor}}.</li>
        {% endfor %}
    </ul>

    <h3>Și ceva mai complet, sub formă de tabel (fără posibilitate filtrare...): </h3>
    <table
        id="example" 
        data-filter-control="true"
        data-show-search-clear-button="true"
        class="table table-bordered">
        <thead>
          <tr>  
            <th>ID</th>
            <th data-field="titlu" data-filter-control="input"> <i class="fa fa-book"></i>  Titlu</th>
            <th><i class="fa fa-user-secret"></i>  Autor</th>
            <th><i class="fa fa-calendar"></i>  Anul</th>
            <th><i class="fa fa-globe"></i>  Țara</th>
            <th><i class="fa fa-heartbeat"></i>  Subiecte principale</th>
          </tr>
        </thead>
        
        <tbody>
            {% for carte in cărți %}
            <tr>
                <td>{{carte.id}}</td>
                <td>{{carte.titlu}}</td>
                <td>{{carte.autor}}</td>
                <td>{{carte.an}}</td>
                <td>{{carte.tara}}</td>
                <td>{{carte.subiect}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

      

      <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
      </script>

    

{% endblock %}
