{% extends "base.html" %}
{% load static %}


{% block topbar-image-text %}
Înapoi acasă
{% endblock topbar-image-text %}

{% block extrastyle %}
<style>
    .colorare_partiala {
        color: #4a8578e5;
    }
</style>

{% endblock extrastyle %}


{% block content %}
{% include "_modal.html" %}


<div class="row">
    <h6 style="text-align: center;">About</h6>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="card card-body">

            <h6><span class="colorare_partiala">ID în baza de date:</span> {{ book.id }}</h6>
            <h6><span class="colorare_partiala">Titlu:</span> {{ book.title }}</h6>
            <h6><span class="colorare_partiala">Autor:</span> {{ book.author }}</h6>
            <h6><span class="colorare_partiala">Data:</span> {{ book.datetime }}</h6>
            <h6><span class="colorare_partiala">Status:</span> {{ book.tracking }}</h6>
            <h6><span class="colorare_partiala">Țări:</span>
                {% for country in book.country.all%}
                {% if country != book.country.last %}
                {{ country.name  }},
                {% endif %}
                {% endfor %}
                {{ book.country.last.name }}.
            </h6>
            <h6><span class="colorare_partiala">Limbi:</span>
                {% for language in book.languages.all%}
                {% if language != book.languages.last %}
                {{ language.name  }},
                {% endif %}
                {% endfor %}
                {{ book.languages.last.name }}.
            </h6>
            <h6><span class="colorare_partiala">Categorii:</span>
                {% for topic in book.topics.all%}
                {% if topic != book.topics.last %}
                {{ topic.name  }},
                {% endif %}
                {% endfor %}
                {{ book.topics.last.name }}.
            </h6>
            <h6><span class="colorare_partiala">Detalii:</span> {{ book.description }}</h6>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center" style="width: 10rem;">
            <img class="card-img-top" src="{% static 'img_book.png' %}" alt="Card image cap">
            <div class="card-body">
                <!-- Material checked -->
                <!-- Rounded switch -->
                <label class="switch">
                    {% if book.tracking %}
                    <input type="checkbox" id="togBtn" checked>
                    {% else %}
                    <input type="checkbox" id="togBtn">
                    {% endif %}

                    <div class="slider round">
                        <span class="on">
                            <input type="text" name="available" value="ON">ON
                        </span>

                        <span class="off">
                            <input type="text" name="available" value="OFF">OFF
                        </span>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <h6 style="text-align: center;">History</h6>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
        </div>

    </div>
</div>


<hr>
<!-- Update book buttons -->
<button type="button" id="update-book" class="bs-modal btn btn-outline-info  btn-sm btn-block"
    data-form-url="{% url 'update_book' book.pk %}">
    <span class="fa fa-pencil"> Edit</span>
</button>
<!-- Delete book buttons -->
<button type="button" id="delete-book" class="bs-modal btn btn-outline-danger  btn-sm btn-block"
    data-form-url="{% url 'delete_book' book.pk %}">
    <span class="fa fa-trash"> Delete</span>
</button>
{% endblock content %}


{% block extrascripts %}

<!-- <script type="text/javascript">
    $(document).ready(function () {
        $('#togBtn').change(function () {
            $.post("/change_book_status/", {
                id: '{{book.id}}',
                status: this.checked,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            });
        });
    }); 
</script> -->

<script>
    $('#togBtn').change(function (event) {
        var args = window.location.pathname.split('/');
        $.ajax({
            url: "/update_notification_status",
            type: "post",
            data: {
                id: args[args.length - 2],
                value: this.checked,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            },
            complete: function (response) {

            }
        });
    });
</script>

<script type="text/javascript">
    $(function () {

        // Update, Read and Delete book buttons open modal with id="modal" (default)
        // The formURL is retrieved from the data of the element
        $(".bs-modal").each(function () {
            $(this).modalForm({
                formURL: $(this).data('form-url'),
                modalID: "#modal"
            });
        });

        // Create book button opens form in modal with id="create-modal"
        $("#create-book").modalForm({
            formURL: "{% url 'create_book' %}",
            modalID: "#create-modal"
        });

    });
</script>


{% endblock extrascripts %}