<!DOCTYPE html>
<html lang="ro">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">  
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/extensions/filter-control/bootstrap-table-filter-control.css">
        
        <title>Cărți existente în baza de date</title>
        
    <style>
        h2, h3, ul, table {font-family: "Calibri";}
        h2 {outline: 2px dotted rgba(64, 64, 64, 0.8); color: rgba(40, 160, 64, 0.8);  }
        h3 {font-style: oblique; color: rgba(64, 64, 64, 1); }
        table {border-collapse: collapse; }
        th {color:rgba(64, 64, 64, 1); background-color: rgba(40, 160, 64, 0.3); }

        th, td {padding: 8px; text-align: left;}
        table, th, td {border: 1px solid rgba(64, 64, 64, 1);}
        tr:nth-child(even) {background-color: rgba(64, 64, 64, 0.1);}
    </style>

    </head>

    <body>
        <table
        id="example"
        style="width:90%" 
        data-filter-control="true"
        data-show-search-clear-button="true"
        class="table table-bordered">
        <thead>
          <tr>  
            <th>ID</th>
            <th> <i class="fa fa-book"></i>  Titlu</th>
            <th><i class="fa fa-user-secret"></i>  Autor</th>
            <th><i class="fa fa-calendar"></i>  An</th>
            <th><i class="fa fa-globe"></i>  Țară</th>
            <th><i class="fa fa-heartbeat"></i>  Subiecte principale</th>
          </tr>
        </thead>
        
        <tbody>
            {% for carte in cărți %}
            <tr>
                <td>{{carte.id}}</td>
                <td>{{carte.titlu}}</td>
                <td>{{carte.autor}}</td>
                <td>{{carte.an}}</td>
                <td>{{carte.tara}}</td>
                <td>{{carte.subiect}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="jquery.dataTables.js"></script>


    <script>
        $(document).ready(function() {
         

            $('#example thead tr').clone(true).appendTo( '#example thead' );
            $('#example thead tr:eq(1) th').each( function (i) {
                if (i>0) {
                    var title = $(this).text();
                    $(this).html( '<input type="text" placeholder="Căutare după -->'+title+'" />' );
                    $( 'input', this ).on( 'keyup change', function () {
                        if ( table.column(i).search() !== this.value ) {
                            table
                            .column(i)
                            .search( this.value )
                            .draw();
                        }
                    } );
                }
            } );
            
            var table = $('#example').DataTable( {
                orderCellsTop: true,
                fixedHeader: true,
                "paging": true,
                "ordering": false,
                "info":     true,
                "columns": [
                    { "searchable": false },
                    null,
                    null,
                    null,
                    null,
                    null
                ],
                "language": {
                    "search":         "Căutare:",
                    "paginate": {
                        "first":      "Prima pagină",
                        "last":       "Ultima pagină",
                        "next":       "Pagina următoare",
                        "previous":   "Pagina anterioară"
                    },
                    "lengthMenu": "Se afișează _MENU_ înregistrări pe pagină",
                    "zeroRecords": "Nu s-au găsit înregistrări conform criteriilor",
                    "info": "Se afișează pagina _PAGE_ din _PAGES_",
                    "infoEmpty": "Nu există înregistrări",
                    "infoFiltered": "(rezultate filtrate din _MAX_ înregistrări existente)"
                }

            } );
        } );

        
    </script>
    
    



    </body>

</html>