{% extends "base.html" %}
{%load static %}

{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"></h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-gray-800">Carti disponibile</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titlu</th>
                            <th>Autor</th>
                            <th>Anul</th>
                            <th>Țara</th>
                            <th>Subiecte principale</th>
                            <th>Auto</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Titlu</th>
                            <th>Autor</th>
                            <th>Anul</th>
                            <th>Țara</th>
                            <th>Subiecte principale</th>
                            <th>Auto</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for carte in cărți %}
                        <tr>
                            <td><a href="{% url 'book' cărți.id %}">View</a> </td>
                            <td>{{carte.id}}</td>
                            <td>{{carte.titlu}}</td>
                            <td>{{carte.autor}}</td>
                            <td>{{carte.an}}</td>
                            <td>{{carte.tara}}</td>
                            <td>{{carte.subiect}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}